* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
/*    overflow-x: hidden;*/
}

section {
    margin: 0px;
    padding: 150px 5%;
}

.sn-head {
    position: relative;
    color: #f7f7f7;
    font-family: 'Montserrat';
    margin: 0px;
    font-size: 7.5em;
    letter-spacing: 5px;
    line-height: 100px;
}

.sn-head::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    top: -30px;
    left: -30px;
}

.sn-head,
.sn-content {
    margin: 0px 40px;
}

.sn-head > span {
    display: block;
}

.sn-content {
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
    max-width: 370px;
    line-height: 25px;
}

.sn-about,
.sn-services,
.sn-projects,
.sn-portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*-----------------------------------------------
HEADER
------------------------------------------------- */

.sn-header {
    position: relative;
    height: 95vh;
    width: 100%;
}

.head,
.small-head {
    display: inline-block;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
}

.head {
    transform: translateX(-50%);
    bottom: 36%;
    left: 50%;
    margin: 0px;
    font-weight: 600;
}

.head > span {
    display: block;
}

.head > span:nth-of-type(1) {
    position: relative;
    font-size: 2.3em;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 2px;
}

.head > span:nth-of-type(1)::before {
    content: "";
    position: absolute;
    top: -70px;
    left: -40px;
    height: 15px;
    width: 15px;
    background-color: #191919;
}

.head > span:nth-of-type(2) {
    font-size: 1.7em;
    letter-spacing: 11px;
    font-weight: 600;
}

.head > span:nth-of-type(3) {
    font-size: 1.3em;
    font-weight: 100;
    letter-spacing: 2px;
}

.head > span:nth-of-type(4) {
    font-size: .7em;
    font-weight: 100;
    letter-spacing: 2px;
}

.small-head {
    bottom: 0px;
    left: 56%;
}

.small-head > h2 {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px 0px 50px 0px;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 5px;
    color: #535353;
}

.border {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 25px;
    width: 5px;
    background-color: #191919;
}


/*-----------------------------------------------
ABOUT & PROJECTS
------------------------------------------------- */

.sn-about,
.sn-projects,
.sn-portfolio {
    background-color: #191919;
}

.about-header::before,
.projects-header::before{
    background-color: #f7f7f7;
}

.about-content,
.projects-content {
    color: #7c7c7c;
}

.about-content > p:nth-of-type(1),
.projects-content > p:nth-of-type(1) {
    color: #dedede;
}

/*-----------------------------------------------
SERVICES
------------------------------------------------- */

.services-header {
    color: #191919;
}

/*-----------------------------------------------
SKILLS
------------------------------------------------- */
.skills,
.sn-portfolio {
    padding-top: 0px;
}

.skills > div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0px 100px;
}

.skills figure {
    text-align: center;
    margin: 30px 0px;
}

.skills figure > img {
    width: 65px;
    height: 65px;
    display: inline-block;
}

.skills figure > figcaption {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/*-----------------------------------------------
PORTFOLIO
------------------------------------------------- */
.pf-left-side,
.pf-right-side {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

.pf-right-side {
    padding-top: 160px;
}

.pf-item {
    max-width: 300px;
}

.pf-item > img {
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #121212;    
}

.pf-item > img::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 70px;
    width: 1px;
    bottom: -55px;
    left: 40px;
    background-color: #a3a3a3
}

.pf-item > figcaption {
    padding-top: 55px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: justify;
    color: #a3a3a3;
}

.pf-item > figcaption > p:last-of-type {
    text-align: right;
}



